In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://www.sensornet.nl/dataserver3/event/collection/nina_events/stream?conditions%5B0%5D%5B%5D=time&conditions%5B0%5D%5B%5D=%3E%3D&conditions%5B0%5D%5B%5D={}&conditions%5B1%5D%5B%5D=time&conditions%5B1%5D%5B%5D=%3C&conditions%5B1%5D%5B%5D={}&conditions%5B2%5D%5B%5D=label&conditions%5B2%5D%5B%5D=in&conditions%5B2%5D%5B2%5D%5B%5D=21&conditions%5B2%5D%5B2%5D%5B%5D=32&conditions%5B2%5D%5B2%5D%5B%5D=33&conditions%5B2%5D%5B2%5D%5B%5D=34&args%5B%5D={}&args%5B%5D=schiphol&fields%5B%5D=time&fields%5B%5D=location_short&fields%5B%5D=location_long&fields%5B%5D=duration&fields%5B%5D=SEL&fields%5B%5D=SELd&fields%5B%5D=SELe&fields%5B%5D=SELn&fields%5B%5D=SELden&fields%5B%5D=SEL_dB&fields%5B%5D=lasmax_dB&fields%5B%5D=callsign&fields%5B%5D=type&fields%5B%5D=altitude&fields%5B%5D=distance&fields%5B%5D=winddirection&fields%5B%5D=windspeed&fields%5B%5D=label&fields%5B%5D=hex_s&fields%5B%5D=registration&fields%5B%5D=icao_type&fields%5B%5D=serial&fields%5B%5D=operator&fields%5B%5D=tags'.format

In [3]:
#start date in epoch seconds
startdate = int(pd.to_datetime('2024-07-08').strftime("%s"))
#end date in epoch seconds
enddate = int(pd.to_datetime('2025-07-08').strftime("%s"))
print(startdate, enddate)

1720389600 1751925600

In [4]:
url(1704063600,1751925600,'aalsmeer')

'https://www.sensornet.nl/dataserver3/event/collection/nina_events/stream?conditions%5B0%5D%5B%5D=time&conditions%5B0%5D%5B%5D=%3E%3D&conditions%5B0%5D%5B%5D=1704063600&conditions%5B1%5D%5B%5D=time&conditions%5B1%5D%5B%5D=%3C&conditions%5B1%5D%5B%5D=1751925600&conditions%5B2%5D%5B%5D=label&conditions%5B2%5D%5B%5D=in&conditions%5B2%5D%5B2%5D%5B%5D=21&conditions%5B2%5D%5B2%5D%5B%5D=32&conditions%5B2%5D%5B2%5D%5B%5D=33&conditions%5B2%5D%5B2%5D%5B%5D=34&args%5B%5D=aalsmeer&args%5B%5D=schiphol&fields%5B%5D=time&fields%5B%5D=location_short&fields%5B%5D=location_long&fields%5B%5D=duration&fields%5B%5D=SEL&fields%5B%5D=SELd&fields%5B%5D=SELe&fields%5B%5D=SELn&fields%5B%5D=SELden&fields%5B%5D=SEL_dB&fields%5B%5D=lasmax_dB&fields%5B%5D=callsign&fields%5B%5D=type&fields%5B%5D=altitude&fields%5B%5D=distance&fields%5B%5D=winddirection&fields%5B%5D=windspeed&fields%5B%5D=label&fields%5B%5D=hex_s&fields%5B%5D=registration&fields%5B%5D=icao_type&fields%5B%5D=serial&fields%5B%5D=operator&fields%5B%5D=tags'

In [5]:
response = requests.get(url(1720389600 ,1751925600,'aalsmeer'))

In [6]:
print(response)
print(pd.DataFrame(response.json()['rows']).shape)

<Response [200]>
(587289, 25)

In [7]:
def process_month(url):
    response = requests.get(url)
    colnames = pd.DataFrame(response.json()['metadata'])
    data = pd.DataFrame(response.json()['rows'])
    data.columns = colnames.headers
    print(data.shape[0])
    return data

In [8]:
datasets = []

In [9]:
fields = ['aalsmeer','leiden','amstelveen','ronde_venen','kaag_en_braassem','katwijk','lisse','nieuwkoop','noordwijk','oegstgeest','teylingen','uithoorn','wassenaar']

In [10]:
# {
#     'aalsmeer': {"lon": , "lat": },
#     'leiden': {"lon": , "lat": },
#     'amstelveen': {"lon": , "lat": },
#     'ronde_venen': {"lon": , "lat": },
#     'kaag_en_braassem': {"lon": , "lat": },
#     'katwijk','lisse': {"lon": , "lat": },
#     'nieuwkoop': {"lon": , "lat": },
#     'noordwijk': {"lon": , "lat": },
#     'oegstgeest': {"lon": , "lat": },
#     'teylingen': {"lon": , "lat": },
#     'uithoorn': {"lon": , "lat": },
#     'wassenaar': {"lon": , "lat": },
# }

In [11]:
for locatie in fields:
    print(locatie)
    datasets.append(process_month(url(startdate, enddate, locatie)).assign(sensor = locatie))

aalsmeer
587289
leiden
116772
amstelveen
255228
ronde_venen
64047
kaag_en_braassem
148503
katwijk
78774
lisse
160596
nieuwkoop
223132
noordwijk
32858
oegstgeest
149763
teylingen
237521
uithoorn
194421
wassenaar
25680

In [12]:
len(datasets)

13

In [13]:
test = pd.concat(datasets)
test.shape

(2274584, 26)

In [14]:
test.head()

headers,id,location_short,location_long,time,SELd,SELe,SELn,SELden,SEL,SEL_dB,...,callsign,type,tags,duration,hex_s,registration,icao_type,serial,operator,sensor
0,122822081,Aa,Aalsmeerderweg,1720408381,0.0,0.0,5658770.0,56587700,5658770,67.527217,...,TRA91Q,Boeing 737-700,Kaagbaan06_T,62,4841D5,PH-XRB,B737,28256,,aalsmeer
1,122822091,Aa,Aalsmeerderweg,1720408599,0.0,0.0,2167960.0,21679600,2167960,63.360510,...,TRA88C,Boeing 737-800,Kaagbaan06_T,38,48597D,PH-HXN,B738,63623,Transavia,aalsmeer
2,122822101,Aa,Aalsmeerderweg,1720409168,0.0,0.0,31088100.0,310881000,31088100,74.925944,...,TRA8L,Boeing 737-800,Kaagbaan06_T,32,484134,PH-HZD,B738,28376,,aalsmeer
3,122822111,Aa,Aalsmeerderweg,1720410412,0.0,0.0,3212840.0,32128400,3212840,65.068896,...,TRA635B,Boeing 737-800,Kaagbaan06_T,44,4853D2,PH-HXI,B738,62151,Transavia,aalsmeer
4,122822121,Aa,Aalsmeerderweg,1720410815,0.0,0.0,1208690.0,12086900,1208690,60.823155,...,TRA1123,Boeing 737-800,Kaagbaan06_T,16,48520B,PH-HXC,B738,41342,,aalsmeer

In [15]:
test.to_feather('data/sensornet_all.ftr')